
<div>
    <div class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer" 
        (click)="toggleList()">
        {{ label }}
        <i class="pi pi-angle-down"></i>    
    </div>
    <ul class="list-none p-0 m-0 overflow-hidden transition-duration-400"
        [@entradaSalidaAnimation]="listAnimationSlidedown ? 'slidedown' : 'slideup'"
        (@entradaSalidaAnimation.done)="onAnimationDone()"
        [ngClass]="{'hidden': !listVisible, 'block': listVisible}">
        <li *ngFor="let item of items">
            <app-sidebar-item [label]="item.label" [icon]="item.icon" [items]="item.items"></app-sidebar-item>            
        </li>
    </ul>
</div>