<div class="surface-section px-4 py-8 md:px-6 lg:px-7">
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3 mr-2">
                Información Médica
            </div>
            <p class="m-0 p-0 text-600 line-height-3 mr-4 text-sm">
                Por favor, completa el siguiente formulario con la 
                información medica del estudiante. 
                Todos los campos son obligatorios.
            </p>
        </div>
        <div class="col-12 lg:col-10">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="healthCareCompany">Compañia prestadora de salud</label>
                    <p-dropdown formControlName="healthCareCompany" 
                                [options]="healthCareCompanies"
                                id="healthCareCompany" 
                                styleClass="w-full p-inputtext-sm"
                                optionLabel="name">
                    </p-dropdown>
                    <small *ngIf="isValidField('healthCareCompany')" 
                            errorLabel
                            [errors]="form.get('healthCareCompany')?.errors" 
                            class="p-error select-none">
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="affiliationType">Tipo de afiliación</label>
                    <p-dropdown formControlName="affiliationType" 
                                [options]="affiliationTypes"
                                id="affiliationType" 
                                styleClass="w-full p-inputtext-sm"
                                optionLabel="name">
                    </p-dropdown>
                    <small *ngIf="isValidField('affiliationType')" 
                            errorLabel
                            [errors]="form.get('affiliationType')?.errors" 
                            class="p-error select-none">
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="affiliationDate">Fecha de afiliacion</label>
                    <p-calendar styleClass="w-full p-inputtext-sm"
                                id="affiliationDate"
                                dateFormat="dd/mm/yy"
                                formControlName="affiliationDate">
                    </p-calendar>
                    <small *ngIf="isValidField('affiliationDate')" 
                            errorLabel
                            [errors]="form.get('affiliationDate')?.errors" 
                            class="p-error select-none">
                    </small>
                </div>
                <div class="field mb-4 col-12">
                    <label>Certificado de afiliacion (archivo PDF):</label>
                    <app-file-input (documentFileChange)="onDocumentFileChange($event)">
                    </app-file-input>
                    <small *ngIf="isValidField('documentHealthFile')" 
                            errorLabel
                            [errors]="form.get('documentHealthFile')?.errors" 
                            class="p-error select-none">
                    </small>
                </div>
                <div class="field mb-4 col-12">
                    <div class="grid">
                        <div class="field col-12 md:col-6">
                            <p-button label="Atras" (click)="onBack()" [outlined]="true" severity="secondary"></p-button>
                        </div>
                        <div class="field col-12 md:col-6">
                            <p-button label="Siguiente" type="submit" styleClass="p-button-danger"></p-button>
                        </div>   
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>