<p-toast></p-toast>

<div class="min-h-screen overflow-hidden">

    <div class="circulo bg-red-600 hidden lg:block"></div>

    <nav class="p-4 pb-3 flex justify-content-between">
        <app-logo></app-logo>
    </nav>
    
    <div class="flex flex-wrap justify-content-center">
        <div class="flex flex-column w-full lg:w-5 px-7">
            <h1 class="text-5xl font-medium text-900 text-center mb-6">Recuperar contraseña</h1>
    
            <form [formGroup]="resetPasswordForm" (ngSubmit)="requestResetPassword()">
                <div class="flex flex-column gap-2 mb-3">
                    <label class="text-900 font-medium" htmlFor="email">Correo electrónico</label>
                    <input pInputText 
                            type="email"
                            class="p-inputtext-sm"
                            aria-describedby="email-help"
                            formControlName="email"
                            id="email"  />
                    <small *ngIf="isValidField('email')" 
                           id="email-help"
                           errorLabel
                           [errors]="resetPasswordForm.get('email')?.errors" 
                           class="p-error select-none">
                    </small>
                </div>
    
                <p-button type="submit" label="Recuperar" styleClass="mt-4 p-button-danger w-full"></p-button>
            </form>
        </div>
    </div>
    
</div>