<h1 class="mb-6">Informacion Personal</h1>

<form [formGroup]="basicPersonalForm" (ngSubmit)="submitForm()">
    <div class="formgrid grid">
        <div class="field col-12">
            <label>Genero</label>
            <div class="flex flex-wrap gap-3">    
                <label class="border-round w-full md:w-4 border-1 border-red-200  
                              hover:bg-red-200 cursor-pointer px-3 py-3 block"
                       [ngClass]="{'bg-red-200': basicPersonalInfo.gender == 'Masculino'}">
                    <input type="radio" 
                           class="mr-4" 
                           name="gender" 
                           value="Masculino" 
                           formControlName="gender">
                    Masculino
                </label>
                <label class="border-round w-full md:w-4 border-1 border-red-200 
                              hover:bg-red-200 cursor-pointer px-3 py-3 block"
                       [ngClass]="{'bg-red-200': basicPersonalInfo.gender == 'Femenino'}">
                    <input type="radio" 
                           class="mr-4" 
                           name="gender" 
                           value="Femenino" 
                           formControlName="gender">
                    Femenino
                </label>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstName">Nombre</label>
            <input pInputText
                   id="firstName" 
                   type="text"
                   class="w-full p-inputtext-sm" 
                   formControlName="firstName"/>
            <small *ngIf="isValidField('firstName')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('firstName')?.errors" 
                   class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastName">Apellidos</label>
            <input pInputText
                   id="lastName" 
                   type="text"
                   class="w-full p-inputtext-sm" 
                   formControlName="lastName"/>
            <small *ngIf="isValidField('lastName')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('lastName')?.errors" 
                   class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="birthdate">Fecha de nacimiento</label>
            <p-calendar styleClass="w-full p-inputtext-sm"
                        dateFormat="dd/mm/yy"
                        formControlName="birthdate">
            </p-calendar>
            <small *ngIf="isValidField('birthdate')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('birthdate')?.errors" 
                   class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="phoneNumber">Telefono</label>
            <p-inputNumber inputId="integeronly"
                           id="phoneNumber"
                           class="w-full"
                           styleClass="w-full p-inputtext-sm" 
                           formControlName="phoneNumber"/>
            <small *ngIf="isValidField('birthdate')" 
                    errorLabel
                    [errors]="basicPersonalForm.get('birthdate')?.errors" 
                    class="p-error select-none">
            </small>
        </div>
        <div class="field col-12">
            <label for="address">Direccion</label>
            <input pInputText
                   id="address" 
                   type="text"
                   class="w-full p-inputtext-sm" 
                   formControlName="address"/>
            <small *ngIf="isValidField('address')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('address')?.errors" 
                   class="p-error select-none">
           </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="residenceDepartament">Departamento de residencia</label>
            <p-autoComplete inputStyleClass="w-full p-inputtext-sm"
                            styleClass="w-full p-inputtext-sm"
                            [forceSelection]="true"
                            [suggestions]="filteredDepartments" 
                            (completeMethod)="filterDepartament($event)" 
                            field="name"
                            formControlName="residenceDepartament"
                            >
            </p-autoComplete>
            <small *ngIf="isValidField('residenceDepartament')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('residenceDepartament')?.errors" 
                   class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="residenceMunicipality">Municipio de residencia</label>
            <p-autoComplete inputStyleClass="w-full p-inputtext-sm"
                            styleClass="w-full p-inputtext-sm"
                            [forceSelection]="true"
                            [suggestions]="filteredMunicipalities" 
                            (completeMethod)="filterMunicipality($event)" 
                            field="name"
                            formControlName="residenceMunicipality"
                            >
            </p-autoComplete>
            <small *ngIf="isValidField('residenceMunicipality')" 
                   errorLabel
                   [errors]="basicPersonalForm.get('residenceMunicipality')?.errors" 
                   class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label>Hoja de vida (archivo PDF):</label>
            <app-file-input (documentFileChange)="onDocumentFileChange($event)">
            </app-file-input>
        </div>
        <div class="fiel flex col-12 md:col-6 align-items-end justify-content-end">
            <p-button label="Siguiente" type="submit" styleClass="p-button-danger"></p-button>
        </div>
    </div>
</form>
