<div class="flex min-w-screen min-h-screen">
    <div class="bg-red-600 opacity-80 w-4 min-h-screen">

    </div>
    <div class="p-8 w-full">
        <app-basic-personal-information></app-basic-personal-information>
        <ul>
            <li>Tipo de documento</li>
            <li>Numer de documento</li>
            <li>Documento expedido en(ciudad):</li>
            <li>Documento de identidad escaneado (PDF -Max. 1MB).</li>
            <li>Primer Nombre</li>
            <li>Segundo Nombre</li>
            <li>Primer Apellido</li>
            <li>Segundo Apellido</li>
            <li>Fecha de nacimiento</li>
            <li>Sexo</li>
            <li>Direccion</li>
            <li>Telefono</li> 
            <li>Codigo</li>
            <li>Horario de clase(PDF)</li>
            <li>Departamento de residencia</li>
            <li>Municipio de residencia</li>
        </ul>
        <form>

        </form>
    </div>
</div>