<p-toast></p-toast>

<div class="card px-8 py-4">
    <h1>Paises</h1>

    <!-- Header -->
    <div class="flex justify-content-between align-items-start align-content-start vertical-align-middle mb-4 gap-3">    
            
        <app-search-box
            class="w-full"
            (onDebounce)="table.filterGlobal($event, 'contains')"
            placeholder="Buscar pais..."
        ></app-search-box>
        
        <p-button (click)="onShowDialog()" label="Agregar" size="small" [outlined]="true"></p-button>
    </div>

    <!-- Table -->
    <p-table #table
             [value]="countries"
             [rows]="5"
             [showCurrentPageReport]="true"
             [paginator]="true"
             [loading]="loading"
             currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} paises"
             [globalFilterFields]="['name']"
        >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:20%">
                    Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">
                    Nombre
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th style="width: 5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name | capitalizeSentences }}</td>
                <td>
                    <p-button icon="pi pi-ellipsis-v" (click)="onShowMenu($event, country)" [rounded]="true" [text]="true"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" class="text-center py-5">No se encontraron paises.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loading">
            <tr *ngFor="let _ of [1,2,3,4,5]">
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>

    <p-menu #menu [model]="items" [popup]="true"></p-menu>

    <p-dialog header="Agregar Pais" 
              [(visible)]="showDialog"
              [modal]="true"
              [breakpoints]="{ '960px': '75vw' }" 
              [style]="{ width: '40vw' }"
              contentStyleClass="px-6 pb-5 pt-2"
              styleClass="bg-blue-200">
        <form [formGroup]="countryForm" (ngSubmit)="submit()">
            <div class="flex flex-column gap-2 mb-4">
                <label htmlFor="name" class="text-900">Nombre</label>
                <input type="text" id="name" class="w-full" pInputText formControlName="name"/>
                <small *ngIf="isValidField('name')" 
                        errorLabel
                        [errors]="countryForm.get('name')?.errors" 
                        class="p-error select-none">
                </small>
            </div>
            <div class="flex justify-content-end">
                <p-button *ngIf="!currentCountry?.id" type="submit" label="Agregar" size="small" [outlined]="true"></p-button>
                <p-button *ngIf="currentCountry?.id" type="submit" label="Editar" size="small" [outlined]="true"></p-button>
            </div>
        </form>
    </p-dialog>
        
</div>