<!-- <div class="min-h-screen">
    
    <app-sidebar></app-sidebar>

    <div class="px-4 md:px-6 pb-6 pt-4 min-h-full">
        <router-outlet></router-outlet>
    </div>

</div> -->

<div class="h-screen w-screen flex realtive lg:static">
    <div class="lg:block h-screen w-17rem flex-shrink-0 absolute lg:static left-0 top-0 z-1 
                select-none hidden px-4 border-300 lg:border-right-1 pt-4 pb-5">
        <a class="text-2xl text-900 font-bold">
            Practicas
        </a>
        <nav class="mt-6 list-none">
            <li>
                <h2 class="text-sm font-semibold text-900">Estudiantes</h2>
                <ul class="list-none mt-2 pl-1">
                    <!-- border-left-1 border-100 -->
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2
                            border-100 line-height-3 cursor-pointer select-none no-underline"
                            routerLink="/coordinator/students"
                            routerLinkActive="border-red-600 border-left-3">
                            En practica
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Todos
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Documentos
                        </a>
                    </li>
                </ul>
            </li>
        
            <li class="mt-4">
                <h2 class="text-sm font-semibold text-900">Empresas</h2>
                <ul class="list-none mt-2 pl-1">
                    <!-- border-left-1 border-100 -->
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2
                            border-blue-100 line-height-3 cursor-pointer select-none">
                            Solicitando practicas
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            En convenio
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Todos
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Documentos
                        </a>
                    </li>
                </ul>
            </li>

            <li class="mt-4">
                <h2 class="text-sm font-semibold text-900">Tutores</h2>
                <ul class="list-none mt-2 pl-1">
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2
                            border-blue-100 line-height-3 cursor-pointer select-none">
                            En practicas
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Todos
                        </a>
                    </li>
                    <li>
                        <a class="flex justify-content-between gap-1
                            py-1 pr-2 text-sm pl-3 text-800 border-left-2 
                            border-100 line-height-3 cursor-pointer select-none">
                            Documentos
                        </a>
                    </li>
                </ul>
            </li>
        </nav>
    </div>
    <div class="h-screen flex flex-column realtive flex-auto">
        <nav class="flex align-items-center justify-content-between
                    border-bottom-1 border-200 px-4" style="height: 4rem;">
            <app-search-box placeholder="Buscar..." class="w-26rem"></app-search-box>
            <p-avatar label="V" styleClass="mr-2" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
        </nav>
        <main class="overflow-y-auto h-full px-5 pt-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

