
<div class="flex flex-column surface-0 h-full" style="width: 280px;">
    <div class="flex align-items-center px-5" style="height: 60px;">
        <img src="https://blocks.primeng.org/assets/images/blocks/logos/hyper-700.svg" alt="Image" height="30">
    </div>
    <div class="overflow-y-auto">
        <div class="p-3 m-0">
            
            <app-sidebar-items label="Estudiantes" [items]="items"></app-sidebar-items>

            <div class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer">
                Empresas
                <i class="pi pi-angle-down"></i>
            </div>
            
        </div>
    </div>
</div>