<div class="card bg-white p-4">
    <h1 class="text-800">Estudiantes</h1>

    <!-- Header -->
    <div class="flex justify-content-between align-items-center align-content-between mb-4 gap-2">    
            
        <app-search-box
            class="w-full"
            (onDebounce)="table.filterGlobal($event, 'contains')"
            placeholder="Buscar..."
        ></app-search-box>
        <p-button icon="pi pi-plus" (onClick)="showModalDialog()" [outlined]="true" severity="secondary"></p-button>
        <!-- p-button (click)="onShowDialog()" label="Agregar" size="small" [outlined]="true"></p-button -->
    </div>

    <!-- Table -->
    <p-table #table
             [rows]="5"
             [value]="students"
             [showCurrentPageReport]="true"
             [paginator]="true"
             currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} estudiantes"
             [globalFilterFields]="['firstName', 'studentCode', 'student.identityDocument.documentNumber', 'lastName', 'user.email', 'phoneNumber']"
        >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="studentCode">
                    Codigo
                    <p-sortIcon field="studentCode"></p-sortIcon>
                </th>
                <th pSortableColumn="documentNumber">
                    Cedula
                    <p-sortIcon field="studentCode"></p-sortIcon>
                </th>
                <th pSortableColumn="firstName">
                    Nombre
                    <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">
                    Apellidos
                    <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="user.email">
                    Correo
                    <p-sortIcon field="user.email"></p-sortIcon>
                </th>
                <th pSortableColumn="phoneNumber">
                    Telefono
                    <p-sortIcon field="phoneNumber"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td>{{ student?.studentCode }}</td>
                <td>{{ student?.identityDocument?.documentNumber}}</td>
                <td>{{ student?.firstName | capitalizeSentences }}</td>
                <td>{{ student?.lastName | capitalizeSentences }}</td>
                <td>{{ student?.user?.email }}</td>
                <td>{{ student?.phoneNumber }}</td>
                <td>
                    <a [routerLink]="['/coordinator/student', student.id]">Ver</a>
                </td>
                <!-- td>
                    <p-button icon="pi pi-ellipsis-v" (click)="onShowMenu($event, country)" [rounded]="true" [text]="true"></p-button>
                </td -->
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">No se encontraron estudiantes.</td>
            </tr>
        </ng-template>
    </p-table>


    <p-dialog header="Agregar Estudiantes" [(visible)]="visibleModalDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div class="p-5">
            <app-file-input [acceptedFileTypes]="'csv'" (documentFileChange)="addStudents($event)"></app-file-input>
        </div>
    </p-dialog>

</div>