<div class="flex flex-column align-items-center justify-content-center cursor-pointer
        border-dashed border-1 border-500 p-6 mb-2"
     (drop)="onFileDrop($event)"
     (dragover)="onDragOver($event)"
     (click)="fileInput.click()">
        <input #fileInput 
                type="file" 
                class="file-input"
                (change)="onFileSelected($event)" 
                hidden>
        <div class="flex flex-column text-400 justify-content-center 
                align-items-center text-center" *ngIf="documentFile == null">
                <i class="pi pi-cloud-upload text-8xl mb-3"></i>
                Elige un archivo o arrastralo aqui
        </div>
        <div class="flex flex-column text-red-400 justify-content-center 
                    align-items-center text-center" *ngIf="documentFile != null">
             <i class="pi pi-file-pdf text-8xl mb-4"></i>
             {{ documentFile.name }}
        </div>
</div>
<small *ngIf="invalidFileType" class="p-error">
        Solo se permiten archivos {{ acceptedFileTypes }}.
</small>