
<a *ngIf="!item.items" class="flex font-medium align-items-center cursor-pointer p-3 
    text-700 border-round hover:surface-100 no-underline"
    [routerLink]="item.link">
    <i class="pi {{ item.icon }} mr-2"></i>
    {{ item.label }}
</a>

<a *ngIf="item.items" class="flex font-medium align-items-center 
    justify-content-between no-underline cursor-pointer p-3 text-700 border-round hover:surface-100"
    (click)="toggleList()">
    <div>
        <i class="pi {{ item.icon }} mr-2"></i>
        {{ item.label }}
    </div>
    <i class="pi pi-angle-down"></i>
</a>
<ul class="list-none py-0 pl-3 pr-0 m-0 overflow-y-hidden transition-duration-400 transition-ease-in-out"
    [@entradaSalidaAnimation]="listAnimationSlidedown ? 'slidedown' : 'slideup'"
    (@entradaSalidaAnimation.done)="onAnimationDone()"
    [ngClass]="{'hidden': !listVisible, 'block': listVisible}"
>
    <li *ngFor="let subItem of item.items">
        <a class="flex font-medium align-items-center cursor-pointer p-3 text-700 border-round 
            hover:surface-100 no-underline"
            [routerLink]="[subItem.link]">
            <i class="pi {{ subItem.icon }} mr-2"></i>
            {{ subItem.label }}
        </a>
    </li>
</ul>
