<h1 class="mb-3">Areas de desarrollo personal</h1>
<span class="text-900 text-sm">
    Areas en las que te deseas desarrollar su practica empresarial (1-5) donde 5 es muy interesado,
    y 1 poco interesado.
</span>

<form [formGroup]="preferencesForm" class="mt-7" (ngSubmit)="submitForm()">
    <div class="formgrid grid">
        <div class="field flex align-items-center col-12 mb-3">
            <label class="col-6 text-900 font-medium">Area de desarrollo</label>
            <div class="col-1 flex justify-content-center text-900 font-medium" *ngFor="let i of [1,2,3,4,5]">
                {{ i }}
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Mantenimiento de hardware y software</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="hardSoftMaintance"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Mantenimiento y administracion de redes</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="networkMaintance"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Capacitación</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="training"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Desarrollo de software (Escritorio, movil y web)</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="softDevelopment"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Servidores y computacion en la nube</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="cloudComputing"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12">
            <label class="col-6 text-800">Direccipon y evaluación de proyectos</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="projectManager"></p-radioButton>
            </div>
        </div>
        <div class="field flex align-items-center col-12 mb-6">
            <label class="col-6 text-800">Inteligencia artificial</label>
            <div class="col-1 flex justify-content-center" *ngFor="let i of [1,2,3,4,5]">
                <p-radioButton [value]="i" formControlName="artificialIntelligence"></p-radioButton>
            </div>
        </div>
        <div class="field flex col-12 align-items-end justify-content-end">
            <p-button label="Siguiente" type="submit" styleClass="p-button-danger"></p-button>
        </div> 
    </div>
</form>
