<h1 class="mb-6">Informacion Academica</h1>

<form [formGroup]="academyForm" (ngSubmit)="submitForm()">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="studentCode">Codigo de estudiante</label>
            <p-inputNumber inputId="integeronly"
                           id="studentCode"
                           [min]="0"
                           class="w-full"
                           styleClass="w-full p-inputtext-sm" 
                           formControlName="studentCode"/>
            <small *ngIf="isValidField('studentCode')" 
                    errorLabel
                    [errors]="academyForm.get('studentCode')?.errors" 
                    class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="currentSemester">Semestre actual</label>
            <p-inputNumber inputId="integeronly"
                           id="currentSemester"
                           [min]="0"
                           class="w-full"
                           styleClass="w-full p-inputtext-sm" 
                           formControlName="currentSemester"/>
            <small *ngIf="isValidField('currentSemester')" 
                    errorLabel
                    [errors]="academyForm.get('currentSemester')?.errors" 
                    class="p-error select-none">
            </small>
        </div>
        <div class="field col-12 md:col-7">
            <label>Horario de clase (archivo PDF):</label>
            <app-file-input (documentFileChange)="onDocumentFileChange($event)">
            </app-file-input>
        </div>
        <div class="field flex col-12 md:col-5 align-items-end justify-content-end">
            <p-button label="Siguiente" type="submit" styleClass="p-button-danger"></p-button>
        </div> 
    </div>
</form>
