
<h2 class="text-2xl font-bold text-900 mb-2">Información del Estudiante</h2>
<div class="text-500 text-sm mb-5">
    Información del estudiante: {{ student?.firstName }} {{ student?.lastName }}
</div>

<div class="grid border-top-1 surface-border">
    <div class="col-12 md:col-3 p-3">
        <div class="text-500 font-medium mb-2">Nombre</div>
        <div class="text-900">{{ student?.firstName }}</div>
    </div>
    <div class="col-12 md:col-3 p-3">
        <div class="text-500 font-medium mb-2">Apellidos</div>
        <div class="text-900">{{ student?.lastName }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Correo</div>
        <div class="text-900">{{ student?.user?.email }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Genero</div>
        <div class="text-900">{{ student?.gender }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Fecha de nacimiento</div>
        <div class="text-900">{{ student?.birthdate | date }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Dirección</div>
        <div class="text-900">{{ student?.address }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Número de telefono</div>
        <div class="text-900">{{ student?.phoneNumber }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Código de estudiante</div>
        <div class="text-900">{{ student?.studentCode }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Semestre actual</div>
        <div class="text-900">{{ student?.currentSemester }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Departamento de residencia</div>
        <div class="text-900">{{ student?.residenceDepartament?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Municipio de residencia</div>
        <div class="text-900">{{ student?.residenceMunicipality?.name | capitalizeSentences }}</div>
    </div>


    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Compañia prestadora de salud</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.healthCareCompany?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Fecha de afiliación</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.affiliationDate | date }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Documento de Identidad</div>
        <div class="text-900">{{ student?.identityDocument?.documentNumber }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">Fecha de expedición</div>
        <div class="text-900">{{ student?.identityDocument?.issuanceDate | date }}</div>
    </div>
</div>

{{ student | json }}

<!-- <div class="bg-white grid align-items-center gap-4 border-round p-4 mb-4 border-1 surface-border">
    
    <div class="col-12 md:col-2 flex justify-content-center">
        <img [src]="student?.pictureFile"
             class="h-8rem w-8rem col-12 md:col-6 border-circle"
        >
    </div>

    {{
        student | json
    }}

    <div class="grid col-12 md:col-9">
        <div class="col-12 md:col-6 p-3">
            <div class="text-400 font-medium mb-2">Nombre</div>
            <p-skeleton *ngIf="student == null"></p-skeleton>
            <div class="text-900">{{ student?.firstName + ' ' + student?.lastName }}</div>
        </div>
        <div class="col-12 md:col-6 p-3">
            <div class="text-400 font-medium mb-2">Correo electronico</div>
            <p-skeleton *ngIf="student == null"></p-skeleton>
            <div class="text-900">{{ student?.user.email }}</div>
        </div>
        <div class="col-12 md:col-6 p-3">
            <div class="text-400 font-medium mb-2">Dirección</div>
            <p-skeleton *ngIf="student == null"></p-skeleton>
            <div class="text-900">{{ student?.address }}</div>
        </div>
        <div class="col-12 md:col-6 p-3">
            <div class="text-400 font-medium mb-2">Número de telefono</div>
            <p-skeleton *ngIf="student == null"></p-skeleton>
            <div class="text-900">{{ student?.phoneNumber }}</div>
        </div>
    </div>

</div>

<div class="p-fluid flex flex-column lg:flex-row">

    <div>
        <div class="bg-white border-round w-full p-4 border-1 surface-border mb-2">
            <div class="grid">
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Nombre</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.firstName + ' ' + student?.lastName }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Correo electronico</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.user?.email }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Genero</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.gender }}</div>
                </div> 
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Fecha de nacimiento</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.birthdate | date: 'd MMMM, y' }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Dirección</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.address }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Departamento de residencia</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.residenceDepartament.name | capitalizeSentences }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Municipio de residencia</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.residenceMunicipality.name | capitalizeSentences }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Número de telefono</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.phoneNumber }}</div>
                </div>
            </div>
        </div>

        <div id="documento" class="bg-white border-round w-full p-4 border-1 surface-border mb-2">
            <div class="col-12 md:col-6 p-3">
                <div class="text-500 font-medium mb-2">Documento de identidad</div>
                <p-skeleton *ngIf="student == null"></p-skeleton>
                <div class="text-900">{{ student?.identityDocument.documentNumber }}</div>
            </div>
        </div>

        <div class="bg-white border-round w-full p-4 border-1 surface-border mb-2">
            <div class="grid">
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Código de estudiante</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.studentCode }}</div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Semestre actual</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.currentSemester }}</div>
                </div>
            </div>
        </div>

        <div class="bg-white border-round w-full p-4 border-1 surface-border mb-2">
            <div class="grid">
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Compañia prestadora de salud</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.healthCareCompanyEnrollment.healthCareCompany.name | capitalizeSentences }}</div>
                </div> 
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Tipo de afiliacion</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.healthCareCompanyEnrollment.affiliationType | capitalizeSentences }}</div>
                </div> 
                <div class="col-12 md:col-6 p-3">
                    <div class="text-500 font-medium mb-2">Fecha de afiliación</div>
                    <p-skeleton *ngIf="student == null"></p-skeleton>
                    <div class="text-900">{{ student?.healthCareCompanyEnrollment.affiliationDate | date: 'd MMMM, y' }}</div>
                </div>
            </div>
        </div>

        <div class="bg-white border-round w-full p-4 border-1 surface-border mb-2">
            <div class="col-12 p-3">
                <div class="text-500 font-medium">Areas de desarrollo de practicas</div>

                <p-chart type="radar" [data]="dataDevelopmentArea"></p-chart>

                <div>   
                    <div>
                        Mantenimiento de hardware y software
                        {{ student?.developmentArea.hardSoftMaintenance }}, 
                    </div>
                    <div>
                        Mantenimiento de redes
                        {{ student?.developmentArea.networkMaintenance }}, 
                    </div>
                    <div>
                        Capacitacion
                        {{ student?.developmentArea.training }}, 
                    </div>
                    <div>
                        Desarrollo de software (Destopk, movil, web)
                        {{ student?.developmentArea.softDevelopment }}, 
                    </div>
                    <div>
                        Computacion en la nube
                        {{ student?.developmentArea.cloudComputing }}, 
                    </div>
                    <div>
                        Gerente de proyecto
                        {{ student?.developmentArea.projectManager }}, 
                    </div>
                </div>  
            </div>  
        </div>
    </div>

    
</div>
 -->