
<h2 class="text-2xl font-bold text-900 mb-2">Información del Estudiante</h2>
<div class="text-500 text-sm mb-5">
    Información del estudiante: {{ student?.firstName }} {{ student?.lastName }}
</div>

<div class="grid border-top-1 surface-border">
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Nombre</div>
        <div class="text-900">{{ student?.firstName }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Apellidos</div>
        <div class="text-900">{{ student?.lastName }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Correo</div>
        <div class="text-900">{{ student?.user?.email }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Genero</div>
        <div class="text-900">{{ student?.gender }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Fecha de nacimiento</div>
        <div class="text-900">{{ student?.birthdate | date }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Número de telefono</div>
        <div class="text-900">{{ student?.phoneNumber }}</div>
    </div>
    
    
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Departamento de residencia</div>
        <div class="text-900">{{ student?.residenceDepartament?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Municipio de residencia</div>
        <div class="text-900">{{ student?.residenceMunicipality?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Dirección</div>
        <div class="text-900">{{ student?.address }}</div>
    </div>

    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Documento de Identidad</div>
        <div class="text-900">{{ student?.identityDocument?.documentNumber }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Fecha de expedición</div>
        <div class="text-900">{{ student?.identityDocument?.issuanceDate | date }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Lugar de expedición</div>
        <div class="text-900">{{ student?.identityDocument?.issuancePlace?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Tipo de documento</div>
        <div class="text-900">{{ student?.identityDocument?.documentType?.name }}</div>
    </div>
</div>

<!-- Academico -->
<div class="grid border-top-1 surface-border mt-4">
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Código de estudiante</div>
        <div class="text-900">{{ student?.studentCode }}</div>
    </div>
    <div class="col-12 md:col-4 p-3 lg:mb-3">
        <div class="text-500 font-medium mb-2">Semestre actual</div>
        <div class="text-900">{{ student?.currentSemester }}</div>
    </div>
</div>

<!-- Medico -->
<div class="grid border-top-1 surface-border mt-4">
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Compañia prestadora de salud</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.healthCareCompany?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Tipo de compañia</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.healthCareCompany?.type | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Tipo de afiliación</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.affiliationType?.name | capitalizeSentences }}</div>
    </div>
    <div class="col-12 md:col-4 p-3">
        <div class="text-500 font-medium mb-2">Fecha de afiliación</div>
        <div class="text-900">{{ student?.healthCareCompanyEnrollment?.affiliationDate | date }}</div>
    </div>
</div>

<!-- Area de desarrollo -->
<div class="border-top-1 surface-border mt-4 px-3 py-5">
    <p-table [value]="[student?.developmentArea]" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>Area de desarrollo</th>
                <th>Calificación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-developmentArea>
            <tr>
                <td>Mantenimiento de Hardware y Software</td>
                <td>{{ developmentArea?.hardSoftMaintenance }}</td>
            </tr>
            <tr>
                <td>Mantenimiento y Administracion de redes de computadora</td>
                <td>{{ developmentArea?.networkMaintenance }}</td>
            </tr>
            <tr>
                <td>Capacitación</td>
                <td>{{ developmentArea?.training }}</td>
            </tr>
            <tr>
                <td>Desarrollo de Software (Escritorio, Movil, Web)</td>
                <td>{{ developmentArea?.softDevelopment }}</td>
            </tr>
            <tr>
                <td>Servidores y Computación en la Nube</td>
                <td>{{ developmentArea?.cloudComputing }}</td>
            </tr>
            <tr>
                <td>Dirección y Evaluación de Proyectos</td>
                <td>{{ developmentArea?.projectManager }}</td>
            </tr>
            <tr>
                <td>Inteligencía Artificial</td>
                <td>{{ developmentArea?.artificialIntelligence }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div>
    <div class="text-500 font-medium mb-3">Archivos</div>
    <div class="flex md:align-items-center md:justify-content-between 
                border-top-1 surface-border p-3 flex-column md:flex-row">
        <div class="flex align-items-center p-2">
            <span class="block pi pi-file mr-2"></span>
            <a class="text-900 no-underline"
                href="https://drive.google.com/file/d/{{ student?.classScheduleFile }}/view" 
                target="_blank">Horario_de_clase.pdf</a>
        </div>
    </div>
    <div class="flex md:align-items-center md:justify-content-between 
                border-top-1 surface-border p-3 flex-column md:flex-row">
        <div class="flex align-items-center p-2">
            <span class="block pi pi-file mr-2"></span>
            <a class="text-900 no-underline"
                href="https://drive.google.com/file/d/{{ student?.resumeDocumentFile }}/view" 
                target="_blank">Hoja_de_vida.pdf</a>
        </div>
    </div>
    <div class="flex md:align-items-center md:justify-content-between 
                border-top-1 surface-border p-3 flex-column md:flex-row">
        <div class="flex align-items-center p-2">
            <span class="block pi pi-file mr-2"></span>
            <a class="text-900 no-underline"
                href="https://drive.google.com/file/d/{{ student?.identityDocument?.documentFile }}/view" 
                target="_blank">Documento_de_identidad.pdf</a>
        </div>
    </div>
    <div class="flex md:align-items-center md:justify-content-between 
                border-top-1 surface-border p-3 flex-column md:flex-row">
        <div class="flex align-items-center p-2">
            <span class="block pi pi-file mr-2"></span>
            <a class="text-900 no-underline"
                href="https://drive.google.com/file/d/{{ student?.healthCareCompanyEnrollment?.documentHealthFile }}/view" 
                target="_blank">Certificado_de_afiliación.pdf</a>
        </div>
    </div>
</div>