
<div class="min-h-screen overflow-hidden">
    
    <app-navbar></app-navbar>
    
    <div class="flex flex-column md:flex-row min-h-full p-3 md:p-8 gap-2 md:gap-5 justify-content-center">
        <div class="flex align-content-center p-5 justify-content-center">
            <img src="../../../../assets/images/undraw_mail_sent_re_0ofv.svg" class="w-18rem md:w-22rem" >
        </div>
        <div class="flex flex-column align-items-center text-center justify-content-center">
            <h1 class="text-5xl">Correo electrónico no verificado</h1>
            <p class="text-500 px-2 md:px-6">
                Tu correo electrónico no ha sido verificado. 
                Algunas acciones están restringidas hasta que verifiques tu correo electrónico.
            </p>
            <p class="text-500 px-2 md:px-6 mb-5">
                Por favor, verifica tu correo electrónico para desbloquear todas 
                las funciones de la aplicación.
            </p>
            <div>
                <p-button label="Reenviar email de verificación" 
                          styleClass="p-button-danger w-full">
                </p-button>
            </div>
        </div>
    </div>

</div>