<nav class="flex align-items-center justify-content-between
                    border-bottom-1 border-200 px-4" style="height: 4rem;">
    <div>
        <a class="lg:hidden" (click)="toggleMenu()">
            <i class="pi pi-bars" classs="text-base text-900"></i>
        </a>
        <!-- app-search-box placeholder="Buscar..." class="hidden lg:block w-26rem"></app-search-box -->
    </div>
    <p-avatar [label]="user?.email?.[0]?.toUpperCase() ?? 'A'" (click)="menu.toggle($event)" styleClass="mr-2 cursor-pointer" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
</nav>

<p-menu #menu [model]="items" [popup]="true"></p-menu>